/*
* Feuille de style du carrousel
*/

// conteneur principal
.carrousel{
    position: fixed;
    // TODO version mobile devrait être genre 100% 
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    transform: scale(0);
    transition: transform .5s;
    background-color: orange;
    z-index: 1;
}

.carrousel--ouvrir{
    // ca va faire appraître le carrousel avec un effet de transition
    transform: scale(1);
}

// bouton de fermeture de la boîte modale
.carrousel__x{

}

// conteneur des images
.carrousel__figure{

}

// conteneur des boutons radio
.carrousel__form{
    
}